[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=qml2048
Exec=/usr/bin/invoker --type=d -s /opt/qml2048/bin/qml2048
Icon=/usr/share/icons/hicolor/80x80/apps/qml204880.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
